<div class="container">
    <mat-card class="champion-card" *ngFor="let champion of champions">
        <mat-card-header> 
            <img mat-card-avatar src="https://ddragon.leagueoflegends.com/cdn/{{champion.version}}/img/champion/{{champion.image.full}}"/>                       
            <mat-card-title>{{ champion.name }}</mat-card-title>
            <mat-card-subtitle>{{ champion.title }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="desc">{{ champion.blurb }}</div>
            <div class="stats">
                <h4>Infos :</h4>
                <div class="stat attack">
                    <mat-icon aria-hidden="false" aria-label="games attack">flash_on</mat-icon> <span></span>{{ champion.info.attack }}
                </div>
                <div class="stat defense">
                    <mat-icon aria-hidden="false" aria-label="games security">security</mat-icon> <span></span>{{ champion.info.defense }}
                </div>
                <div class="stat difficulty">
                    <mat-icon aria-hidden="false" aria-label="games warning">warning</mat-icon> <span></span>{{ champion.info.difficulty }}
                </div>
                <div class="stat magic">
                    <mat-icon aria-hidden="false" aria-label="games moon">brightness_3</mat-icon> <span></span>{{ champion.info.magic }}
                </div>
            </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-footer>
            <mat-chip-list aria-label="Tag" class="list-chip">
                <mat-basic-chip *ngFor="let tag of champion.tags">{{tag}}</mat-basic-chip>
            </mat-chip-list>            
        </mat-card-footer>
    </mat-card>   
</div>
