.champion-card {
    margin-bottom: .5rem;    
    border-radius: 0;
    box-shadow: -2px 2px 4px 0px rgba(0,0,0, .2);
    &:before {
        content: "";
        border-right: 35px solid #fff;
        border-bottom: 30px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
    .list-chip {
        margin: .75rem 1rem;
        display: block;
    }    
    .mat-basic-chip {
        margin-right:.5rem;
        border-radius: 20px;
        background-color: rgba(255,255,255, .2);
        padding: .25rem .5rem;
        font-size: .5rem;
    }
}
